<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
   <body class=" h-[100vh] md:h-[100vh] text-white bg-black md:px-[4vh] px-[1vh] ">
    <div class="nav md:h-[10vh]  md:py-[1.4vh] md:mt-[4vh] h-[12vh] py-[1.8vh]">
        <div class="navbar w-full h-full">
            <div class="logodiv w-[43%] md:w-[28%]  pl-[2vh] md:pl-0 h-full">
                <img src='../images/sparkeyXLogo.svg' alt="Logo" class="w-full h-full object-contain">
            </div>
        </div>
    </div>
    <div class="main flex justify-center ">
        <div class="heading md:w-[70%] w-[88%] h-[40%] justify-center md:pt-[17vh] pt-[15vh] flex  flex-col">
        <h1 class="text-center md:text-7xl font-semibold poppins-semibold lowercase md:leading-snug leading-snug text-4xl">Every Idea Can Be <br> In The Universe</h1>
        <button  class="md:text-5xl text-2xl px-[2vh] mt-[4vh] font-semibold md:w-[60vh] md:ml-[26vh] hover:bg-slate-700 md:py-[4vh] lowercase justify-center md:mt-[6vh] py-[3vh] rounded-full bg-slate-800" onclick="window.location.href='/signup';">I Have An Idea</button>
        <div class="md:hidden h-[43vh] bg-red-400 mt-[3vh]">
            <img src="https://images.unsplash.com/photo-1448745799564-e2c1ed534c94?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="bulb" class="w-full h-full object-cover">
        </div>
    </div>
    </div>
   </body>
</body>
</html>